<%- include('header') -%>
    <header
      class="masthead"
      style="background-image: url('/uploads/<%= blog.img.data %>')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1><%= blog.blogName %></h1>
              <span class="subheading">Boundless Knowledge</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="container mt-5">
      <!-- <h1 class="mb-10">Post</h1> -->
      <div class="row">
        <div class="col-md-20">
          <div class="card mb-15">
            <!-- <img
              src="/uploads/<%= blog.img.data %>"
              class="card-img-top"
              alt="Blog Image"
            /> -->
            <div class="card-body">
              <!-- <h5 class="card-title"><%= blog.blogName %></h5> -->
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= blog.createdBy %></li>
                <li class="list-group-item">
                  <%= blog.createdAt.toDateString() %>
                </li>
              </ul>
              <p class="card-text"><%= blog.description %></p>
            </div>
          </div>
          <hr />
          <a
            href="/dashboard/update-blog?id=<%= blog.id %>"
            class="btn btn-primary"
            >Update</a
          >
          <a
            href="/dashboard/deletepost?id=<%= blog.id %>"
            class="btn btn-danger"
            >Delete</a
          >
        </div>
      </div>
    </div>
<%- include('footer') -%>