<%- include('header') -%>
    <header
      class="masthead"
      style="background-image: url('../assets/img/home-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>BlogSphere</h1>
              <span class="subheading">Boundless Knowledge</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="container mt-5">
      <h1 class="mb-4">
        Your Blogs
        <a href="/dashboard/createpost" class="btn btn-primary"
          >Create a Blog</a
        >
      </h1>
      <div class="row">
        <% if(isExist) { %> <% blogs.forEach((blog) => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img
              src="/uploads/<%= blog.img.data %>"
              height="240px"
              width="500px"
              class="card-img-top"
              alt="Blog Image"
            />

            <div class="card-body">
              <h5 class="card-title"><%= blog.blogName %></h5>
              <!-- <p class="card-text"><%= blog.description %></p> -->
              <a
                href="/dashboard/view-blog?id=<%= blog.id %>"
                class="btn btn-primary"
                >Read Full Article</a
              >
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <!-- blog.img.data ../uploads/myImage-1694773990177 -->
        <div class="container">
          <div class="alert alert-info mt-3">
            <p>No blogs exist.</p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
<%- include('footer') -%>